@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article,
aside,
footer,
header,
main,
nav,
section {
  display: block; }

[hidden],
template {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
  border: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

img.responsive-img,
video.responsive-video {
  width: 100%;
  height: auto; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.center, .center-align {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

.margin-top-m {
  margin-top: 12px; }

fieldset.flat {
  border: 0;
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

.hidden-mobile {
  display: none !important; }

.only-desktop {
  display: none !important; }

.gotcha,
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal; }

@font-face {
  font-family: 'Acme';
  src: url("../fonts/acme.eot") format('embedded-opentype'),
       url("../fonts/acme.woff2") format('woff2'),
       url("../fonts/acme.woff") format('woff'),
       url("../fonts/acme.ttf") format('truetype'),
       url("../fonts/acme.svg") format('svg');
  font-weight: normal;
  font-style: normal; }

body {
  color: #453C3E;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  background-color: #E3DBD2; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Acme';
  font-weight: 500;
  line-height: 1.1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 1em 0 0.5em; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit; }

h1, .h1 {
  font-size: 2rem;
  font-weight: 700; }

h2, .h2 {
  font-size: 1.5rem; }

h3, .h3 {
  font-size: 1.25rem; }

h4, .h4 {
  font-size: 1.2rem; }

h5, .h5 {
  font-size: 1rem; }

h6, .h6 {
  font-size: 0.875rem; }

.section-title {
  font-family: 'Acme';
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 20px; }

a {
  color: #453C3E;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-tap-highlight-color: transparent; }
  a:hover {
    outline: 0; }

p {
  margin: 0 0 20px;
  line-height: 1.35; }
  p a {
    text-decoration: underline;
    color: #333333; }

.content-link {
  font-family: 'Acme';
  display: block;
  line-height: 2;
  text-decoration: underline;
  font-size: 1.125em; }

.section-page .list--benefits {
  margin: 0 0 1.8em;
  padding-left: 0;
  line-height: 1.35;
  list-style: none; }
  .section-page .list--benefits li {
    position: relative;
    padding-left: 1.8em;
    margin-bottom: 0.5em; }
    .section-page .list--benefits li:before {
      position: absolute;
      top: 9px;
      left: 8px;
      display: block;
      width: 11px;
      height: 3px;
      content: '';
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      background-color: #7d9c00; }
    .section-page .list--benefits li:after {
      position: absolute;
      top: 11px;
      left: 5px;
      display: block;
      width: 7px;
      height: 3px;
      content: '';
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      background-color: #7d9c00; }

ul.default {
  margin: 0 0 1.8em;
  padding-left: 1.8em;
  line-height: 1.35;
  list-style-type: square;
  list-style-position: outside; }
  ul.default li {
    margin-bottom: 0.5em; }
  ul.default a {
    text-decoration: underline;
    color: #333333; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 1.125em;
  border-left: 4px solid #7d9c00; }
  blockquote p {
    margin: 0; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none; }

.button {
  cursor: pointer;
  position: relative;
  outline: 0;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  color: white;
  background-color: #7d9c00;
  text-align: center;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: .5px;
  height: 36px;
  line-height: 38px;
  font-family: 'Acme', sans-serif;
  padding: 0 2rem;
  text-transform: uppercase;
  min-width: 80%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 7px 7px 0; }
  .button:hover {
    background-color: #91b600;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.button--link {
  position: relative;
  background-image: url(../images/arrow-right.svg);
  background-position: 90% 50%;
  background-size: auto 12px;
  background-repeat: no-repeat;
  padding-right: 3rem; }
  .button--link .arrow-right {
    fill: white; }

.button--green {
  background-color: #7d9c00; }

.button-download {
  padding-left: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%; }
  .button-download svg {
    width: 20px;
    height: 36px;
    margin-right: 10px;
    position: absolute;
    left: 1rem; }
  .button-download span {
    line-height: 36px;
    display: inline-block; }

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0; }

.main-content {
  text-align: center; }

.section-green {
  background-color: #7d9c00;
  color: white;
  padding: 50px 0; }

.quick-links {
  margin: 20px 0 40px; }

.img-center {
  position: relative;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.sidebysideimage img {
  margin-bottom: 1rem;
  width: 100%;
  height: auto; }

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 13;
  -webkit-transition: background-color 0.4s, padding 0.8s ease 0.4s;
  transition: background-color 0.4s, padding 0.8s ease 0.4s;
  padding: 12px 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .header .container {
    padding: 0 10px; }
  .header.is-fixed {
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
    position: fixed;
    top: -60px;
    background-color: #453C3E; }
    .page--home .header.is-fixed {
      background-color: #7DACE4; }
  .header.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }

.menu-title {
  opacity: 0;
  position: absolute;
  z-index: 9;
  padding-left: 80px;
  top: 15px;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: opacity 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), opacity 0.2s ease;
  transition: transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), opacity 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -webkit-transform: translateY(-100px) scale(0.3);
          transform: translateY(-100px) scale(0.3);
  color: #F2E7D4;
  font-family: 'Acme', sans-serif;
  font-size: 1.5em;
  line-height: 34px; }
  .menu-opened .menu-title {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    -webkit-transition: opacity 0.2s ease 1.2s, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 1.2s;
    transition: opacity 0.2s ease 1.2s, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 1.2s;
    transition: transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 1.2s, opacity 0.2s ease 1.2s;
    transition: transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 1.2s, opacity 0.2s ease 1.2s, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 1.2s; }

.menu-open,
.menu-close {
  float: right;
  position: relative;
  z-index: 10;
  cursor: pointer;
  padding: 6px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #33a2f1;
  background-color: #33a2f1;
  font-family: 'Acme', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .menu-open:hover,
  .menu-close:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .is-fixed .menu-open, .is-fixed
  .menu-close {
    -webkit-box-shadow: none;
            box-shadow: none; }

.menu-close {
  display: none;
  background-color: white;
  border-color: #CEDBEA;
  color: #33a2f1; }

.menu-opened .menu-open {
  display: none; }

.menu-opened .menu-close {
  display: block; }

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  overflow: hidden;
  background-color: rgba(51, 162, 241, 0.9);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: -webkit-transform 1s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: transform 1s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: transform 1s cubic-bezier(0.87, -0.41, 0.19, 1.44), -webkit-transform 1s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-overflow-scrolling: touch; }

.menu-opened {
  overflow: hidden; }

.menu-opened #menu {
  overflow: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.menu-main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 80px; }

.menu-link {
  text-decoration: none;
  display: block;
  font-family: 'Acme', sans-serif;
  padding-left: 50px;
  font-size: 1.25em;
  line-height: 2;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: white; }
  .menu-link:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .menu-link.active {
    background-color: #453C3E;
    color: white; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0; }

.gallery__item {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  margin: 3px; }
  .gallery__item img {
    display: block;
    width: 100%; }

.intro-header {
  position: relative;
  max-width: 45em;
  margin: auto; }
  .intro-header .content {
    padding: 20px;
    font-family: 'Acme'; }
    .page--overview .intro-header .content {
      padding-top: 80px;
      padding-bottom: 40px; }
  .intro-header h1 {
    font-size: 2em;
    line-height: 1;
    text-align: center; }
    .intro-header h1 small {
      font-size: 0.6em; }
  .intro-header .subtitle {
    margin-top: 15px;
    font-size: 1.1em;
    text-align: center; }

.secondary-navigation {
  position: relative;
  max-width: 45em;
  margin: auto;
  margin-top: 80px; }
  .secondary-navigation .content {
    padding: 20px;
    font-family: 'Acme'; }
  .secondary-navigation .menu-label {
    text-transform: uppercase;
    font-family: 'Head';
    font-size: 1.5em;
    line-height: 34px; }
  .secondary-navigation li {
    margin: 0.25em 0 0 0.9em; }
  .secondary-navigation a {
    line-height: 1.5;
    color: #453C3E;
    display: block; }
    .secondary-navigation a.active {
      text-decoration: underline; }

.section-page {
  padding: 0 20px; }

.page-nav {
  padding-top: 60px; }

.vlaggen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 74px; }

.vlag-left,
.vlag-right {
  height: 80px;
  opacity: 0.65; }
  .vlag-left:hover,
  .vlag-right:hover {
    opacity: 1; }

.logo {
  margin-top: -10px;
  height: 100px; }

@media screen and (min-width: 45em) {
    .hidden-mobile {
      display: initial !important; }
  .hidden-tablet {
    display: none; }
    body {
      padding-bottom: 48px; }
    .button {
      min-width: 120px; }
    .container {
      padding-left: 10%;
      padding-right: 10%; }
    .main-content {
      text-align: left; }
  .sidebysideimage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .sidebysideimage img {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 47%;
              flex: 0 0 47%;
      max-width: 47%; }
      .header .container {
        padding-left: 5%;
        padding-right: 5%; }
      .header.is-fixed {
        padding: 12px 0; }
      .intro-header .content {
        padding-top: 0; }
  .page-nav + .intro-header > .content {
    padding-top: 20px; }
  .page--basic {
    padding-bottom: 70px; }
    .vlag-left,
    .vlag-right {
      height: 100px; }
    .logo {
      height: 150px; } }

@media screen and (min-width: 60em) {
    .only-desktop {
      display: inherit !important; }
  .hidden-desktop {
    display: none; }
    h1, .h1 {
      font-size: 3rem; }
    h2, .h2 {
      font-size: 2rem; }
    h3, .h3 {
      font-size: 1.5rem; }
    h4, .h4 {
      font-size: 1.25rem; }
    h5, .h5 {
      font-size: 1rem; }
    h6, .h6 {
      font-size: 0.875rem; }
    .container {
      padding-left: 5%;
      padding-right: 5%; }
    #menu {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      height: auto;
      background-color: transparent;
      position: absolute; }
    .menu-main-nav {
      padding-bottom: 10px;
      padding-top: 10px;
      max-width: 960px;
      margin: auto;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .menu-item {
    display: inline-block;
    margin-right: 15px; }
    .menu-item.active {
      text-decoration: underline; }
    .menu-item:last-child {
      margin-right: 0; }
    .menu-link {
      padding: 5px 10px;
      font-size: 1.1em;
      color: #33a2f1; }
      .menu-link:hover {
        background-color: rgba(255, 255, 255, 0.1); }
    .gallery {
      margin-left: -3rem; }
    .gallery__item {
      -ms-flex-preferred-size: 23%;
          flex-basis: 23%; }
      .intro-header h1 {
        font-size: 3em; }
  .with-sidebar {
    position: relative;
    max-width: 60em;
    margin: auto; }
    .with-sidebar:before, .with-sidebar:after {
      content: '';
      display: table; }
    .with-sidebar:after {
      clear: both; }
    .secondary-navigation {
      float: left;
      width: 25%; }
      .secondary-navigation .content {
        padding: 60px 0; }
  .content-with-left-sidebar {
    float: right;
    width: 72%; }
    .section-page {
      max-width: 45em;
      margin: auto;
      padding-left: 0;
      padding-right: 0; }
    .page-nav {
      padding-top: 80px; } }

@media screen and (min-width: 45em) and (min-width: 60em) {
    .sidebysideimage img:first-child {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%;
      margin-left: -2rem; }
    .sidebysideimage img:last-child {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 55%;
              flex: 0 0 55%;
      max-width: 57.5%;
      margin-right: -4rem; } }

@media screen and (min-width: 64em) {
    .container {
      width: 960px;
      margin: auto;
      padding: 0; } }
