input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.button {
  cursor: pointer;
  position: relative;
  outline: 0;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  transition: .2s ease-out;
  color: white;
  background-color: $green;
  text-align: center;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: .5px;
  height: 36px;
  line-height: 38px;
  font-family: 'Acme';
  padding: 0 2rem;
  text-transform: uppercase;
  min-width: 80%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 0 7px 7px 0;

  @include MQ($tab) {
    min-width: 120px;
  }

  &:hover {
    background-color: lighten($brown, 5%);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }
}

.button--link{
  position: relative;
  background-image: url(../images/arrow-right.svg);
  background-position: 90% 50%;
  background-size: auto 12px;
  background-repeat: no-repeat;
  padding-right: 3rem;

  .arrow-right {
    fill: white;
  }
}

.button--green {
  background-color: $green;
}

.button-download{
  padding-left: 3rem;

  svg {
    width: 20px;
    height: 36px;
    margin-right: 10px;
    position: absolute;
    left: 1rem;
  }

  span {
    line-height: 36px;
    display: inline-block;
  }
}
