.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 13;
  transition: background-color 0.4s, padding 0.8s ease 0.4s;
  padding: 12px 0;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;

  .container {
    padding: 0 10px;

    @include MQ($tab) {
      padding-left: 5%;
      padding-right: 5%;
    }

  }

  &.is-fixed {
    transition: transform 0.3s, background-color 0.3s;
    position: fixed;
    top: -60px;
    background-color: $brown;

    .page--home & {
      background-color: #7DACE4;
    }

    @include MQ($tab) {
      padding: 12px 0;
    }

  }

  &.is-visible {
    transform: translate3d(0, 100%, 0);
  }

}

.menu-title {
  opacity: 0;
  position: absolute;
  z-index: 9;
  padding-left: 80px;
  top: 15px;
  transition: transform 0.4s cubic-bezier(.87,-.41,.19,1.44), opacity 0.2s ease;
  transform: translateY(-100px) scale(0.3);
  color: $sand;
  font-family: 'Acme', sans-serif;
  font-size: 1.5em;
  line-height: 34px;

  .menu-opened & {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: transform 0.4s cubic-bezier(.87,-.41,.19,1.44) 1.2s, opacity 0.2s ease 1.2s;
  }

}

.menu-open,
.menu-close {
  float: right;
  position: relative;
  z-index: 10;
  cursor: pointer;
  padding: 6px 10px;
  transition: all 0.3s;
  color: #fff;
  border-radius: 2px;
  border: 1px solid $blue;
  background-color: $blue;
  font-family: 'Acme', sans-serif;
  user-select: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)
  }

  .is-fixed & {
    box-shadow: none;
  }

}

.menu-close {
  display: none;
  background-color: white;
  border-color: $blue-light;
  color: $blue;
}

.menu-opened .menu-open {
  display: none;
}

.menu-opened .menu-close {
  display: block;
}
