#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  overflow: hidden;
  background-color: rgba($brown, 0.9);
  transform: translateX(100%);
  transform-origin: right center;
  transition: transform 1s cubic-bezier(.87,-.41,.19,1.44);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;

  @include MQ($desk) {
    transform: translateX(0);
    height: auto;
    background-color: $green;
    position: absolute;
  }
}

.menu-opened {
  overflow: hidden;
}

.menu-opened #menu {
  overflow: auto;
  transform: translateX(0);
}

.menu-main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 80px;

  @include MQ($desk) {
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 960px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }

}

.menu-item {
  @include MQ($desk) {
    display: inline-block;
    margin-right: 15px;

    &.active {
      text-decoration: underline;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.menu-link {
  text-decoration: none;
  display: block;
  font-family: 'Acme';
  padding-left: 50px;
  font-size: 1.25em;
  line-height: 2;
  transition: 0.1s;
  color: $background;

  &:hover {
    background-color: rgba(0,0,0,0.1);
  }

  &.active {
    background-color: $brown;
    color: white;
  }

  @include MQ($desk) {
    padding: 5px 10px;
    font-size: 1.1em;
    color: white;

    &:hover {
      background-color: rgba(255,255,255,0.1);
    }

  }

}
